body {
    background-color: azure;
}

.buttons  {
    background-color: azure;
    display:flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 30%;
    
}


.buttons  button {
    width: 50px;

        
}

h1 {
    text-align: center;
    color: ivory
}

#number {
    height: 25px;
    width: 250px;
    margin: 50px auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}



